<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">
    <h1>Welcome to Minesweeper</h1>

    <p>This is a really great game !</p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Size</th>
            <th>Mine Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="minefield: ${minefields}" th:object="${minefield}">
            <td th:text="|*{width}x*{height}|"></td>
            <td th:text="*{count}"></td>
            <td>
                <form action="#" th:action="@{/play/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-outline-info">Play<i class="ri-info-bin-line"></i></button>
                </form>
                <form action="#" th:action="@{/delete/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-outline-danger">Delete<i class="ri-delete-bin-line"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
