<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">
    <h1>Welcome to Minesweeper</h1>

    <p>This is a really great game !</p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Size</th>
            <th>Mine Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="minefield: ${minefields}" th:object="${minefield}">
            <td th:text="|*{width}x*{height}|"></td>
            <td th:text="*{count}"></td>
            <td>
                <form action="#" th:action="@{/delete/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-danger"><i class="ri-delete-bin-line"></i></button>
                </form>
                <form action="#" th:action="@{/minesweeper/play/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-danger"><i class="ri-play-bin-line"></i></button>
                </form>
            </td>
        </tr>
        <tr th:each="mode : ${modes}" th:object="${mode}">
            <td th:text="*{id}">1</td>
            <td th:text="*{label}">Normal</td>
            <td th:text="|*{width}&nbsp;x&nbsp;*{height}|">10 x 10</td>
            <td th:text="*{mines}">10</td>
            <td>
                <a th:href="@{|/mode/edit/*{id}|}" class="btn btn-primary" role="button">
                    <span class="oi oi-pencil" title="Modifier" aria-hidden="true"></span>
                </a>
                <a th:href="@{|/mode/delete/*{id}|}" class="btn btn-danger" role="button">
                    <span class="oi oi-delete" title="Supprimer" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
