<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Play</title>
</head>
<body>
<div th:fragment="content">
<table>
    <tbody th:object="${m}">
    <br>
    <div class="alert alert-info">
        <span class="ri-information-fill float-left"></span>
        <span class="ri-information-fill float-right"></span>
        <div class="text-center" role="alert" > Here is the field, There are <span th:text="${minefield.getCount()}"></span> mines their !</div>
    </div>
    <br>
    <div class="alert alert-danger">
        <span class="ri-emotion-unhappy-fill float-left"></span>
        <span class="ri-emotion-unhappy-fill float-right"></span>
        <div class="text-center" role="alert" >you loose !</div>
    </div>
    <br>
    <div class="alert alert-success">
        <span class="ri-emotion-happy-fill float-left"></span>
        <span class="ri-emotion-happy-fill float-right"></span>
        <div class="text-center" role="alert" >GG, you win !</div>
    </div>

    <table>
        <tr th:each="y, row: ${minefield.getMinefield()}">
            <td th:each="x, col: ${y}" th:onclick="@{location.href='http://localhost:8080/play/{id}/{row}/{col}'(id=*{minefield.getId()},row=*{row.count},col=*{col.count})}" style="border: 1px solid black">
                <div th:text="${x}" style="width: 25px ; height: 25px">

                </div>

            </td>
        </tr>
    </table>

    </tbody>

</table>
    </div>
</body>
</html>
